.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}
// .container {
//   // width: 1140px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   @media (max-width: 1280px) {
//     width: 1040px;
//   }
//   @media (max-width: 1080px) {
//     width: 820px;
//   }
//   @media (max-width: 750px) {
//     width: 620px;
//   }
// }

.main {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 70px;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: 1080px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
  }
  @media (max-width: 750px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
