.categories {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.checked {
  background-color: rgba(0, 0, 0, 0.759);
  color: white;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 25px;

  input[type='radio'] {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  @media (max-width: 576px) {
    display: flex;
    align-items: center;
    padding: 10px 12px;
  }
}

.filterBtn {
  cursor: pointer;
  font-size: 14px;
  padding: 15px 20px;
  background-color: rgb(226, 225, 225);
  border-radius: 25px;
  transition: all 0.3s ease-in-out;

  input[type='radio'] {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.759);
    color: white;
  }

  @media (max-width: 576px) {
    display: flex;
    align-items: center;
    padding: 8px 12px;
  }
}
