.card {
  position: relative;
  padding: 5px;
  max-width: 300px;
  min-height: 460px;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  p {
    font-size: 14px;
  }

  @media (max-width: 750px) {
    text-align: center;
    margin: 0 auto;
  }
}

.cardImg {
  display: block;
  width: 270px;
  height: 270px;
  margin-left: 18px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-3px);
  }
}

.price {
  display: flex;
  width: 290px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;

  span {
    font-size: 22px;
    font-weight: 600;
  }
}
