@import '../../../styles/variables.scss';

.cButton {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 16px;
   background-color: $orangeColor;
   color: white;
   border: none;
   border-radius: 18px;
   transition: all 0.2s ease-in;
   cursor: pointer;
   font-size: 16px;

   &:hover {
      background-color: darken($orangeColor, 9);
   }
}
