@import '../../../styles/variables.scss';

.modalDiv {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(91, 112, 131, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
}
.modal {
  position: relative;
  display: flex;
  max-width: 800px;
  background-color: white;
  border-radius: 20px;
  padding: 60px 40px;
  margin: 40px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 120px;
    border-radius: 0;
    margin: 0;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 60px 40px 30px 40px;
  }
}

.closeBtnModal {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  right: -45px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: 992px) {
    top: 0;
    right: 10px;
  }

  @media (max-width: 576px) {
    right: 20px;
  }
}

.closeBtnModalInside {
  width: 50px;
  height: 50px;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  @media (max-width: 992px) {
    top: 0;
    right: 20px;
    color: black;
  }

  @media (max-width: 576px) {
    width: 60px;
    height: 60px;
  }
}

.imageModal {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    width: 350px;
    height: 350px;
    margin-right: 20px;

    @media (max-width: 992px) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: 576px) {
      width: 300px;
      height: 300px;
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
}

.infoModal {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 50px;
    font-size: 18px;

    @media (max-width: 992px) {
      margin-bottom: 20px;
      font-size: 16px;
    }

    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
  }
}

.buyBtnModal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  background-color: $orangeColor;
  color: white;
  border: none;
  border-radius: 25px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-size: 20px;
  width: 100%;

  &:hover {
    background-color: darken($orangeColor, 9);
  }

  @media (max-width: 576px) {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    bottom: 30px;
  }
}
