.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   box-shadow: -0.1em 0.3em 1em rgba(0, 0, 0, 0.1);
}

.headerLogo {
   display: flex;
   align-items: center;
}

.logoImage {
   width: 40px;
   height: 40px;
   margin-right: 5px;
}

.logoText {
   font-family: 'Titan One', sans-serif;
}

.cartImg {
   margin-right: 5px;
}
