@import '../../../styles/variables.scss';

.modalDiv {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(91, 112, 131, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
}
.modal {
  position: relative;
  display: flex;
  max-width: 900px;
  background-color: white;
  border-radius: 20px;
  padding: 80px 40px;

  @media (max-width: 1400px) {
    min-width: 450px;
    width: 45vw;
    padding: 40px 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 500px) {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

.closeBtnModal {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  right: -45px;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (max-width: 600px) {
    top: 20px;
    right: 60px;
  }
}

.closeBtnModalInside {
  width: 50px;
  height: 50px;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  @media (max-width: 600px) {
    color: black;
    width: 60px;
    height: 60px;
  }
}

.imageModal {
  display: flex;
  align-items: center;
  margin-right: 40px;

  img {
    width: 400px;
    height: 400px;
  }

  @media (max-width: 1400px) {
    margin: 0 auto;
    img {
      width: 280px;
      height: 280px;
    }
  }
}

.infoModal {
  display: flex;
  flex-direction: column;
  width: 100%;

  h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 50px;
    font-size: 18px;
  }
}

.buyBtnModal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  background-color: $orangeColor;
  color: white;
  border: none;
  border-radius: 25px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    background-color: darken($orangeColor, 9);
  }

  @media (max-width: 1200px) {
    width: 100%;
  }
}
