.filterWrapper {
  display: flex;
  align-items: center;
  width: 1320px;
  padding: 40px 40px 0 40px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    width: 1040px;
  }

  @media (max-width: 1080px) {
    width: 820px;
  }
}
