@import '../../styles/variables.scss';

.sort {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
}

.sortNav {
  display: flex;

  p {
    cursor: pointer;
    color: $orangeColor;
    margin-left: 10px;
    text-decoration: underline dotted;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: darken($orangeColor, 15);
    }
  }
}

.sortModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  width: 325px;
  background-color: $whiteColor;
  border-radius: 12px;
  z-index: 2;
  overflow: hidden;
  box-shadow: $shadow;
  animation: show 0.1s forwards;
  overflow: auto;

  @media (max-width: 576px) {
    top: 40px;
    width: 90vw;
  }
}

.sortProperty {
  padding: 14px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  input[type='radio'] {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &:hover {
    background-color: rgba(255, 111, 0, 0.146);
  }
}

.checkedSort {
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(255, 111, 0, 0.146);

  input[type='radio'] {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@keyframes show {
  0% {
    height: 0px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 195px;
  }
}

.hiddenModal {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: 235px;
  width: 265px;
  height: 195px;
  background-color: $whiteColor;
  border-radius: 12px;
  z-index: 2;
  box-shadow: $shadow;
}
